@import "tailwindcss";

:root {
  --background: #FAF7F2;
  --foreground: #1C1C1E;
  --primary: #FFC857;
  --accent: #1A6B6B;
  --navbar-height: 74px;
}


.navbar-height {
  @apply h-[var(--navbar-height)];
}

@layer utilities {
  .wrapper {
    @apply max-w-7xl px-5 mx-auto w-full;
  }
}